@use "variables" as *;
@use "function" as *;

header{
    @include background(650px);
    .closeButton, .menuBarButton{
        display: none;
    }
    .menuBar{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        height: 0;
    }
    .forward, .backward{
        background-color:transparent;
        border: none;
        color: $yellow;
        position: fixed;
        i{
            cursor: pointer;
        }
    }
    .backward{
        left: 0;
        padding-left: 30px;
        bottom: 50%;
    }
    .forward{
        right: 0;
        padding-right: 30px;
        bottom: 50%;
    }
    ul{
        display: flex;
        padding-top: 50px;
        li{
            padding: 20px 30px 10px 15px;
            a:hover {
                border-bottom: 3px solid $yellow;
                padding-bottom: 5px;
            }
        }
    }
    h1{
        display: flex;
        flex-direction: column;
        .highlight{
            width: fit-content;
            padding: 10px 0 0 0;
            margin-bottom: 20px;
            background-color: $white;
            color: $black; 
        }
    }
    .headerImg{
        @include flexjustifyAlign(flex-end);
        img{
            max-width: 700px;
            margin-top: -240px;
        }
    }
    &.homepage{
        background-image: url(../the-restaurant-mall-assets/the-restaurant-mall-assets/home-header.jpg);
    }
    &.blog{
        background-image: url(../the-restaurant-mall-assets/the-restaurant-mall-assets/blog-header.jpg);
    }
    &.contact{
        background-image: url(../the-restaurant-mall-assets/the-restaurant-mall-assets/contact-header.jpg);
        height: 650px;
    }
}
