// Dark green
$primaryColor: #2B331B;
// Almost Black
$secondaryColor: #171B0E;
// Black
$black: #0F0F0F;
// Yellow
$yellow: #FFD300;
// White
$white: #FFFFFF;
// Font
$font: 'Josefin Sans', sans-serif;
// Body p
$fontBodyP: 'Barlow', sans-serif;